{{ define "main" }}
<!-- override themes/layouts/post/single.html -->

<section id="main">
  <!-- <div class="row">
    <div class="col-8"> -->
    <article class="post content">

      <h2 class="title">{{ .Title }}</h2>

      <div class="upinfo">

        <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="date">{{ .Date.Format "January 2, 2006" }}</time>

        <i class="fa fa-tags"></i>
        <!-- {{ delimit .Params.tags "|" }} -->
        {{ with .Params.tags }}
          <ul class="tags">
          {{ range . }}
            <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
          </ul>
        {{ end }}
        <i class="fa fa-bars"></i>
        {{ with .Params.series }}
          <ul class="series">
          {{ range . }}
            <li> <a href="{{ "series" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
        <i class="fa fa-folder"></i>
        {{ with .Params.categories }}
        <ul class="categories">
          {{ range . }}
            <li><a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

      <div class="post_content">
        {{ .Content }}
      </div>


      <div class="tailinfo post_meta">
        {{ with .Site.Params.postLicense }}
          <div class="license">
            <p>{{ . | markdownify }}</p>
          </div>
        {{ end }}
      </div>
      <div class="clearfix"></div>

      <!-- cc license -->
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
      <br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </article>


    {{ if not (eq .Type "section") }}
      <div class="other_posts">
        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}" class="prev">{{ .PrevInSection.LinkTitle }}</a>
        {{ end }}
        {{ if .NextInSection }}
        <a href="{{.NextInSection.Permalink}}" class="next">{{ .NextInSection.LinkTitle }}</a>
        {{ end }}
      </div>
      {{ partial "comments.html" . }}
    {{ end }}

    <div class="post_toc">TOC</div>
  <!-- </div>


  </div> -->

</section>
{{ end }}
